.home {
        background-color: #484848;
         background-color: #212121;
         background-color: #000000;
         background-color: #;

         background-color: #484848;
         background-color: #212121;
         background-color: #fff;
         background-color: #000;

         background-color: #484848;
         background-color: #fff;
       type: light;
    }